@mixin font {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.75em;
  text-align: center;
}
.btn {
  cursor: pointer;
}
$buttons: ".btn-1", ".btn-2", ".btn-3";

@each $button in $buttons {
  #{$button} {
    cursor: pointer;
    @include font();
    border-radius: 1.75em;
    width: 10.6875em;
    height: 3.5em;
    border: none;
    outline: none;
  }
}

.btn-1 {
  //colors
  background: hsla(228, 100%, 66%, 1);
  color: #fff;
}

.btn-1:hover {
  //colors
  background: #829cff;
  color: #fff;
}
.btn-2 {
  // colors
  background: hsla(228, 100%, 66%, 0.15);
  mix-blend-mode: normal;
  color: #5175ff;
}

.btn-2:hover {
  background: hsla(228, 100%, 66%, 0.25);
}
.btn-3 {
  background: #fff;
  color: hsla(228, 100%, 66%, 1);
}
.btn-3:hover {
  background: #fff;
  color: hsla(228, 100%, 75%, 1);
}
