@use '../2-base/colors.scss';
// mobile firs approach layout//
body  {
  max-width: 23.4375em;
  min-height: 183.25em;
  margin: 0 auto;
  background-color: #FAFAFA;
  position: relative;
  
}

.wrapper {
  width: 23.4375em;
  padding: 0 1.5em;
 
  
}

.btn-1 {
  background: #5175ff;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
  border-radius: 1.75em;
}
.logo {
  position: relative;
  margin: 2.875em 0 0 0 ;

}

.logo-img {
  width: 9.6875em;
  height: 1.875em;
}

.upper-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.4375em;
  height: 23.4375em;
  transform: translate(0%, -47%);
  z-index: -1;
}

.chart {
  width: 10.6875em;
  height: 12em;
  margin: 4em 0 0  0;
}

.logo-img {
  width: 9.6875em;
  height: 1.875rem;
}

// fonts 
.heading-1 {
    font-size: 3.5rem;
}

.heading-1-main {
  font-size: 2.5rem;
}

.heading-2 {
  font-size: 1.25em;
}

.heading-3 {
  font-size: 3.5em;
  text-align: center;
}

.body-1,.body-2, .body-3 {
  font-size: 1em;
}
.simple-solution-chart-text-container {
  
}
// simple solution article 
.simple-solution {
  margin: 3em 0 0 0;
}

.simple-solution .body-1 {
  margin: 1.5em 0 0 0;

}

.simple-solution .btn-1 
{
  margin: 1.5em 0 0 0;
}
.packs {
  position: relative;

  
}
.background-packs {
  position: absolute;
  background: #25293A url("../assets/home/bg-pattern-footer.svg");
  width: 23.437em;
  min-height: 78em;
  top: 44%;
  background-position:  bottom;
background-size: 250%;
 background-repeat: no-repeat;
  
}
.packs .basic {
    min-width: 20.4375em;
    min-height: 31.75em;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    padding: 2.5em 3.3125em;
    z-index: 120;
    background-color: #fff;
}
.packs .pro {
  @extend .basic ;
  position: relative;
  z-index: 120;
  background: url("../assets/home/bg-pattern-pricing.svg") hsl(228, 100%, 66%)  center bottom;;
  
}

.pricing-bg {
  position: absolute;
  width: 20.4375em;
  height: 31.75em;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translate(0,-50%);
}

.ultimate {
  @extend .basic ;
  z-index: 120;

}

.timer  {
  min-width: 20.5em;
  min-height: 15.875em;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 6.25em;
}

.coming-soon {
  font-size: 1em;
}

.coming-soon span {
  color: #5175FF;
}

.counter-card  {
width: 4.5em;
height: 5.75em;background: 
#333950;
display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;

}

.counter-card h1:first-of-type {
  font-family: 'Kumbh Sans';
font-style: normal;
font-weight: bold;
font-size: 2em;
line-height: 48px;
text-align: center;
}
.counter-card h1:last-of-type {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: bold;
  font-size: .75em;
  line-height: 28px;
  /* identical to box height, or 233% */
  
  text-align: center;
  
  color: #FFFFFF;
  
  mix-blend-mode: normal;
  opacity: 0.5;
}
.counter-cards-container {
  justify-content: space-around;
  min-width: 20.5em;
}