@font-face  {
    font-family: 'Kumbh Sans';
    src: url('../../build/fonts/KumbhSans-Bold.ttf');
    src: url('../../build/fonts/KumbhSans-Light.ttf');
    src: url('../../build/fonts/KumbhSans-Regular.ttf');
}

