@font-face  {
    font-family: "Kumbh Sans", sans-serif;
    src: url("../../build/fonts/KumbhSans-Bold.ttf") format("ttf");
    src: url("../../build/fonts/KumbhSans-Light.ttf") format("ttf");
    src: url("../../build/fonts/KumbhSans-Regular.ttf") format("ttf");
}
