@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Bold.ttf");
  src: url("../fonts/KumbhSans-Light.ttf");
  src: url("../fonts/KumbhSans-Regular.ttf");
}
*, *::after, *::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 a,
p, li, figure {
  padding: 0;
  margin: 0;
}

.flex-center-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.flex-center-col {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.margin-top-8px {
  margin: 0.5em 0 0 0;
}

.margin-top-16px {
  margin-top: 1em;
}

.margin-top-32px {
  margin-top: 2em;
}

.margin-top-40px {
  margin: 2.5em 0 0 0;
}

.margin-top-56px {
  margin-top: 3.5em;
}

.margin-top-100px {
  margin-top: 6.25em;
}

.heading-1 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  direction: ltr;
  white-space: pre-line;
}

.heading-2 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375em;
  line-height: 28px;
}

.heading-3 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.body-1 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  color: #747B95;
}

.body-2 {
  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

.empty-text-field {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #747B95;
}

.error-text-field {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #F05B5B;
}

.filled-text-field {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #333950;
}

.white-space-pre-line {
  white-space: pre-line;
}

.bold-font {
  font-weight: bold;
}

.font-opacity {
  opacity: 0.75;
}

.text-align-left {
  text-align: left;
}

.btn {
  cursor: pointer;
}

.btn-1 {
  cursor: pointer;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.75em;
  text-align: center;
  border-radius: 1.75em;
  width: 10.6875em;
  height: 3.5em;
  border: none;
  outline: none;
}

.btn-2 {
  cursor: pointer;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.75em;
  text-align: center;
  border-radius: 1.75em;
  width: 10.6875em;
  height: 3.5em;
  border: none;
  outline: none;
}

.btn-3 {
  cursor: pointer;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.75em;
  text-align: center;
  border-radius: 1.75em;
  width: 10.6875em;
  height: 3.5em;
  border: none;
  outline: none;
}

.btn-1 {
  background: #5274ff;
  color: #fff;
}

.btn-1:hover {
  background: #829cff;
  color: #fff;
}

.btn-2 {
  background: rgba(82, 116, 255, 0.15);
  mix-blend-mode: normal;
  color: #5175ff;
}

.btn-2:hover {
  background: rgba(82, 116, 255, 0.25);
}

.btn-3 {
  background: #fff;
  color: #5274ff;
}

.btn-3:hover {
  background: #fff;
  color: #8099ff;
}

.white-text {
  color: #FFF;
}

body {
  max-width: 23.4375em;
  min-height: 183.25em;
  margin: 0 auto;
  background-color: #FAFAFA;
  position: relative;
}

.wrapper {
  width: 23.4375em;
  padding: 0 1.5em;
}

.btn-1 {
  background: #5175ff;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
  border-radius: 1.75em;
}

.logo {
  position: relative;
  margin: 2.875em 0 0 0;
}

.logo-img {
  width: 9.6875em;
  height: 1.875em;
}

.upper-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.4375em;
  height: 23.4375em;
  transform: translate(0%, -47%);
  z-index: -1;
}

.chart {
  width: 10.6875em;
  height: 12em;
  margin: 4em 0 0 0;
}

.logo-img {
  width: 9.6875em;
  height: 1.875rem;
}

.heading-1 {
  font-size: 3.5rem;
}

.heading-1-main {
  font-size: 2.5rem;
}

.heading-2 {
  font-size: 1.25em;
}

.heading-3 {
  font-size: 3.5em;
  text-align: center;
}

.body-1, .body-2, .body-3 {
  font-size: 1em;
}

.simple-solution {
  margin: 3em 0 0 0;
}

.simple-solution .body-1 {
  margin: 1.5em 0 0 0;
}

.simple-solution .btn-1 {
  margin: 1.5em 0 0 0;
}

.packs {
  position: relative;
}

.background-packs {
  position: absolute;
  background: #25293A url("../assets/home/bg-pattern-footer.svg");
  width: 23.437em;
  min-height: 78em;
  top: 44%;
  background-position: bottom;
  background-size: 250%;
  background-repeat: no-repeat;
}

.packs .basic, .packs .ultimate, .packs .pro {
  min-width: 20.4375em;
  min-height: 31.75em;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
  padding: 2.5em 3.3125em;
  z-index: 120;
  background-color: #fff;
}

.packs .pro {
  position: relative;
  z-index: 120;
  background: url("../assets/home/bg-pattern-pricing.svg") #5274ff center bottom;
}

.pricing-bg {
  position: absolute;
  width: 20.4375em;
  height: 31.75em;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translate(0, -50%);
}

.ultimate {
  z-index: 120;
}

.timer {
  min-width: 20.5em;
  min-height: 15.875em;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 6.25em;
}

.coming-soon {
  font-size: 1em;
}

.coming-soon span {
  color: #5175FF;
}

.counter-card {
  width: 4.5em;
  height: 5.75em;
  background: #333950;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.counter-card h1:first-of-type {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 48px;
  text-align: center;
}

.counter-card h1:last-of-type {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 28px;
  /* identical to box height, or 233% */
  text-align: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.counter-cards-container {
  justify-content: space-around;
  min-width: 20.5em;
}

/*# sourceMappingURL=style.css.map */
